@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Raleway, sans-serif;
    color: #707070;
    font-size: 16px;
}
/* globales */
a{
    text-decoration: none;
}

/*##  header  ##*/

header{
    height: 72px;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header a{
        font-size: 20px;
        font-weight: 600;
        color: #707070;
    }

    header a img{
        width: 60px;
        vertical-align: middle;
        margin-right: 16px;
    }

    nav a{
        padding: 12px;
    }

/* hero banner */

#hero{
    height: 500px;
    background-image: url(../imgs/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -120px;

    display: flex;
    vertical-align: center;
}

    #hero div{
        width: 1100px;
        margin: auto;
    }
    #hero h1{
        width: 400px;
        color: #FFB968;
        font-size: 36px;
    }
    #hero p{
        width: 400px;
        margin-top: 24px;
    }

/*##  main  ##*/
main{
    width: 1100px;
    margin: auto;
}
    /*##  primer separador  "let's go hiking"  ##*/

    #separador h2{
        margin-top: 88px;
        font-size: 32px;
        color: #FFB968;
        text-align: center;
    }
    #separador p{
        width: 600px;
        margin: 24px auto 88px auto; 
        text-align: center;
    }

/*##  promos  ##*/

    #promos{
        display: flex;   
        flex-wrap: wrap;  /* respeta los anchos */
    }

    #promos h2{
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 24px;
    }

    #promos #promo1{
        background-color: #807871;
        color: #fff;
        width: 550px;
        height: 550px;
        padding: 100px 80px 100px 80px;
    }
    #promos #promo2{
        background-color: #E3B684;
        color: #fff;
        width: 550px;
        height: 550px;
        padding: 100px 80px 100px 80px;
    }

    /*##  segundo separador  "hiking de aventura"  ##*/
    #separador2{
        height: 200px;
        display: flex;
        align-items: center; /* centrar en vertical */
        justify-content: center; /* centrar en horizontal */
    }
        #separador2 h2{
            color: #FFB968;
            font-size: 32px;
            font-weight: 600;
            /* margin-top: 82px; */
        }